* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c153b;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#logo {
  max-width: 100%;
}

#menu-button {
  background: none;
  border: 0;
  padding: 20px;
  margin-right: 20px;
  display: none;
}

#menu-button img {
  width: 30px;
}

nav {
  display: flex;
  margin-right: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 15px;
  padding: 0px 20px;
  font-family: "Roboto", sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: #bb5d84;
}

main {
  margin: 0px 70px 120px 70px;
}

#sobreMim {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 180px;
}

#sobreMim #avatar {
  width: 250px;
  max-width: 40%;
}

#sobreMim #descricao {
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 60%;
}

.detalhe {
  border: 2px solid #511730;
  position: absolute;
  width: 60px;
  left: -5%;
  top: 5%;
}

.titulo {
  position: relative;
}

.titulo h2 {
  color: #e0e2db;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.titulo span {
  color: #414141;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 17px;
  line-height: 55px;
  position: absolute;
  width: 100%;
  top: 0;
  margin-left: 10px;
}

#sobreMim #descricao p {
  font-family: "Roboto", sans-serif;
  color: #414141;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#habilidades {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}

#habilidades .titulo {
  width: 22%;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  align-items: center;
  word-wrap: break-word;
  padding: 30px 40px;
}

#habilidades .titulo span {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0px 40px;
}

#habilidades .itensHabilidade {
  width: 60%;
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#habilidades .itensHabilidade ul {
  display: flex;
  gap: 50px;
  padding: 20px 90px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#habilidades .itensHabilidade ul li {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  color: #414141;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  width: 110px;
  padding: 10px;
  box-shadow: 2px 2px #00000018;
}

#habilidades .itensHabilidade .logo {
  width: 70px;
}

#projetos {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  margin-top: 70px;
  width: 100%;
  border-radius: 5px;
  padding: 30px;
}

#projetos .titulo span {
  left: 0%;
}

#projetos .itensProjetos .owl-carousel .item {
  display: flex;
  position: relative;
}

#projetos .itensProjetos img {
  width: 400px;
  height: 240px;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
}

#projetos .itensProjetos img.informacao {
  position: absolute;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

#projetos .itensProjetos .owl-carousel .item:hover > img.foto {
  filter: brightness(50%) blur(2px);
}

#projetos .itensProjetos .owl-carousel .item:hover > img.informacao {
  display: inline-block;
}

.owl-nav span {
  padding: 15px;
  font-size: 25px;
}

#contatos {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  margin-top: 70px;
  width: 100%;
  border-radius: 5px;
  padding: 30px;
}

#contatos .titulo span {
  left: 0%;
}

#contatos .itensContatos ul {
  display: flex;
  gap: 20px;
  padding: 50px 100px 0px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contatos .itensContatos ul li {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  color: #414141;
  font-family: "Roboto", sans-serif;
}

#contatos .itensContatos .logoContato {
  width: 30px;
}

#rodape {
  margin-top: 100px;
  background-color: #3c153b;
  padding: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px 50px;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  border-radius: 5px;
}

.popup-container {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(50%) blur(5px);
}

.popup button {
  border: 0px;
  background: none;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.popup button img {
  width: 30px;
}

.popup button img:hover {
  background-color: #8a198441;
  border-radius: 50%;
}

.popup .detalhes h2 {
  color: #3c153b;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

.popup .detalhes p {
  color: #414141;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.popup .preview {
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
}

.popup .visualizacaoProjeto {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  justify-content: center;
}

.popup .visualizacaoProjeto a {
  background-color: #3c153b;
  border-radius: 5px;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

@media (max-width: 650px) {
  #menu-button {
    display: inline-block;
    align-self: flex-end;
    /* position: relative; */
    top: 30%;
    transform: translateY(-30%);
    /* padding-bottom: 0; */
  }
  nav {
    flex-direction: column;
    position: absolute;
    top: 80%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #3c153b;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  nav.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  nav ul.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    padding: 15px 0px;
  }
  main {
    margin: 0px 20px 120px 20px;
  }
  .titulo h2 {
    font-size: 40px;
  }
  .titulo span {
    font-size: 20px;
    letter-spacing: 15px;
    line-height: 45px;
  }
  #sobreMim {
    flex-direction: column;
    padding-top: 150px;
  }
  #sobreMim #avatar {
    max-width: 100%;
    align-self: center;
  }
  #sobreMim #descricao {
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #sobreMim #descricao .titulo {
    text-align: center;
  }
  #sobreMim #descricao .titulo span {
    right: 0;
    padding: 1px;
  }
  #sobreMim #descricao p {
    margin-top: 0px;
    padding-top: 50px;
  }
  #habilidades {
    flex-direction: column;
  }
  #habilidades .titulo {
    width: 100%;
    padding: 50px 10px;
  }
  #habilidades .titulo span {
    padding: 0px 10px;
  }
  #habilidades .itensHabilidade {
    width: 100%;
    padding-bottom: 50px;
  }
  #habilidades .itensHabilidade ul {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #projetos {
    padding: 50px 20px;
  }
  #projetos .itensProjetos img {
    width: 290px;
    height: 180px;
    margin-top: 50px;
  }
  #contatos {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #contatos .itensContatos ul {
    padding: 50px 10px 0px 10px;
  }
}

@media (max-width: 940px) {
   main {
    margin: 0px 20px 120px 20px;
  }
  .titulo h2 {
    font-size: 40px;
  }
  .titulo span {
    font-size: 20px;
    letter-spacing: 15px;
    line-height: 45px;
  }
  #sobreMim #descricao .titulo {
    text-align: center;
  }
  #sobreMim #descricao .titulo span {
    right: 0;
  }
  #habilidades {
    flex-direction: column;
  }
  #habilidades .titulo {
    width: 100%;
    padding: 50px 10px 30px 10px;
  }
  #habilidades .titulo span {
    padding: 0px 10px;
    margin-top: 5px;
  }
  #habilidades .itensHabilidade {
    width: 100%;
    padding-bottom: 50px;
  }
  #habilidades .itensHabilidade ul {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #projetos {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #contatos {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}