/* CSS reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c153b;
}

#logo {
  max-width: 100%;
}

nav ul {
  display: flex;
  margin-right: 70px;
  gap: 40px;
}

nav ul li {
  display: flex;
  text-decoration: none;
  font-size: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

main {
  margin: 70px 70px 120px 70px;
  /* border: 2px solid yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main img {
  width: 250px;
  max-width: 100%;
}

#sobreMim {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  min-width: 650px;
}

.tituloFundo {
  color: #e0e2db;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
}

.tituloFrente {
  color: #414141;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 17px;
  line-height: 55px;
  position: absolute;
  width: 100%;
  top: 200px;
  margin-left: 10px;
}

main p {
  font-family: "Roboto", sans-serif;
  color: #414141;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
