/* CSS reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c153b;
}

#logo {
  max-width: 100%;
}

nav ul {
  display: flex;
  margin-right: 70px;
  gap: 40px;
}

nav ul li {
  display: flex;
  text-decoration: none;
  font-size: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

main {
  margin: 70px 70px 120px 70px;
}

#sobreMim {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#sobreMim #avatar {
  width: 250px;
  max-width: 40%;
}

#sobreMim #descricao {
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 60%;
}

.detalhe {
  border: 2px solid #511730;
  position: absolute;
  width: 60px;
  left: -5%;
  top: 5%;
}

.titulo {
  position: relative;
}

.titulo h2 {
  color: #e0e2db;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.titulo span {
  color: #414141;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 17px;
  line-height: 55px;
  position: absolute;
  width: 100%;
  top: 0;
  margin-left: 10px;
}

#sobreMim #descricao p {
  font-family: "Roboto", sans-serif;
  color: #414141;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#habilidades {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 70px;
}

#habilidades .titulo {
  width: 22%;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  align-items: center;
}

#habilidades .titulo span {
  top: 50%;
  transform: translateY(-50%);
}

#habilidades .itensHabilidade {
  width: 60%;
  background-color: #ffffff;
  border-radius: 5px;
}

#habilidades .itensHabilidade ul {
  display: flex;
  gap: 50px;
  padding: 20px 90px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#habilidades .itensHabilidade ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  color: #414141;
  border-radius: 15px;
  width: 110px;
  padding: 10px;
  box-shadow: 2px 2px #00000018;
}

#habilidades .itensHabilidade .logo {
  width: 70px;
}
